<!DOCTYPE html>
<html>
  <head>
    <!-- Viewportを設定すべきか -->
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico" />
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBWKRUvZyPd4hVwby3YVN9g2177B9peTEA&sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
      var project = "<%= project %>"
      var type = "<%= type %>"
    </script>
    <script src="/gyamap.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title><%= title %>の地図</title>
  </head>
  <body>
    
    <p></p>
    <span class='title'><a href="<%= pageurl %>" target="_blank"><%= title %></a>の地図</span>
    <span>　</span>
    <span class='tab'><a href="https://scrapbox.io/Gyamap/概要" target='_blank'>Gyamapとは</a></span>
    <span>　</span>
    <span class='tab'><a href="https://scrapbox.io/Gyamap/Issues" target='_blank'>Issues</a></span>
    
    <p></p>
    <img id="loading1" src="/loading.gif" height="40">
    
    <div style="display:flex;">
      <!-- <div id="mapcanvas" width=400 style="width:400px;height:400px;margin:4px;border-radius:4px;"></div> -->
      <div id="mapcanvas" width="400"></div>
      <!-- <div id="imagelist" style="display:flex;flex-wrap:wrap;flex:1;"></div> -->
      <div id="imagelist"></div>
    </div>
    
    <img id="loading2" src="/loading.gif" height="40">

    <div id="list" style="margin:4px"></div>

  </body>
</html>
